<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

<bean class="com.rak.rakapp.Port" id="port" lazy-init="true"/>
<bean class="java.lang.String" id="string"/>
<bean class="java.lang.Object" id="object"/>
<bean class="java.lang.Exception" id="exception"/>
<bean class="java.lang.Thread" id="thread"/>



</beans>